<title>Home for Sale</title>
<%= error_messages_for :property %>

<% form_for :property, @property,:url => {:controller=>"properties", :action=>"update"},:html => { :multipart => true } do |f| -%>
<div>

    <strong>Edit Property</strong>
 </div>
<div>
  <%= f.hidden_field :id , :value=>@property.id %>
  <%= f.hidden_field :user_id , :value=>@property.user_id %>
  List Price:<%= f.text_field :price, :class=>"textfield" %>
</div>
<div>
  SQF: <%= f.text_field :sqf, :class=>"textfield" %>
</div>
<div>
  Beds: <%= f.text_field :beds, :class=>"textfield" %>
  </div>
<div>
  Baths:<%= f.text_field :baths, :class=>"textfield" %>
 </div>
<div>
Street Address: <%= f.text_field :street_address, :class=>"textfield" %>
 </div>
<div>
  City: <%= f.text_field :city, :class=>"textfield" %>
</div>
<div>
  Zip Code:<%= f.text_field :zip, :class=>"textfield" %>
</div>
<div>

  State: <%= f.select( :state,  { "--Select One--" => "","Alabama" => "Alabama","Alaska" => "Alaska","American Samoa" => "American Samoa",
        "Arizona"=>"Arizona","Arkansas"=>"Arkansas","California"=>"California","Colorado"=>"Colorado",
        "Connecticut"=>"Connecticut","Delaware"=>"Delaware","District of Columbia"=>"District of Columbia","Florida"=>"Florida","Georgia"=>"Georgia","Guam"=>"Guam","Hawaii"=>"Hawaii","Idaho"=>"Idaho","Illinois"=>"Illinois","Indiana"=>"Indiana","Iowa"=>"Iowa","Kansas"=>"Kansas","Kentucky"=>"Kentucky","Louisiana"=>"Louisiana","Maine"=>"Maine","Maine"=>"Maine"}.sort) %>
        </div>
  <div>Agent Name:<%= text_field_tag :agent_name, @property.user.first_name%></div>
<div>
  Description: <div><%= f.text_area :description%></div>

</div>


<div><%= submit_tag "update"%></div>

<% end -%>







