<div id="new_property_form">
<h1>Upload a property image</h1>
<%= error_messages_for :image %>

<%puts "--------------------------------in new image form---------------------------"%>

<% form_for(:image, :url=>{:controller=>"properties" , :action=>"add_image"}, :html => { :multipart => true }) do |f| -%>
    <%puts "17777777"%>
  <div id="image" class="new_maker_list">
        <span class="label">Upload an image</span>
        <span class="m-input">
         <%puts "2777777"%>
          <%= f.file_field :uploaded_data, :class => "txtentry" %>
       
          <%= f.hidden_field :property_id ,:value=> @property.id %>
         <%puts "3777777"%>
        </span>
    </div>
    <div class="clear">
    </div>
    <div class="new_button">
 
        <span><%= submit_tag "Upload"%>
        </span>
        &nbsp;or&nbsp;
 

    </div>
<% end -%>
     <%= link_to 'skip to property page', {:controller => "properties", :action => "view_property", :id => @property.id}, :class => "txt-1" %>
</div>