<title><%= @property.user.first_name %> - Home for sale: <%= @property.street_address %> - <%= @property.city %>, <%= @property.zip %> - <%= @property.price %> </title>

<div class="rtcol_heading"> </div>
<div class="rtinnercol">
<div>
  <div>  <% unless @images.nil? %>
           <div id="mainvehicleImages" class="mainvehicleImages">
             <%= render :partial => 'main_image' %>
           </div>

           <div class="vehicleImages" align="center" id="dmyGallery">
               <%= render :partial => 'thumbnails' %>
           </div>

          
          
          <% end %>
          </div>
<div class="rtdetailitm">
<b><%= @property.street_address %>,  <%= @property.zip %> -  <%= @property.price %> </b>
</div>
</div>



<table width="100%" cellspacing="0" cellpadding="5" bordercolor="#ffffff" border="0">
<tbody>

<tr>
<td width="21%" valign="top" align="right">
<span style="line-height: 28px;">Price:</span>
</td>
<td width="79%" valign="middle" align="left">
  <%= @property.price %>



<br/>

</td>
</tr>


<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">SFQ:</span>
</td>
<td valign="middle" align="left">

 <%= @property.sqf %>
<br/>

</td>
</tr>
<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Beds:</span>
</td>
<td valign="middle" align="left">

<%= @property.beds %>
<br/>

</td>
</tr>

<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Baths:</span>
</td>
<td valign="middle" align="left">
<%= @property.baths %>

<br/>

</td>
</tr>
<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Street Address:</span>
</td>
<td valign="middle" align="left">
  <%= @property.street_address %>

</td>
</tr>
<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">City:</span>
</td>
<td valign="middle" align="left">
<%= @property.city %>

</td>
</tr>
<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Zip Code:</span>
</td>

<td valign="middle" align="left">
  <%= @property.zip %>

</td>
</tr>
<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Agent Name:</span>
</td>
<td valign="middle" align="left">
<%= @property.user.first_name %>

</td>
</tr>

<tr>
<td valign="top" align="right">
<span style="line-height: 28px;">Description:</span>
</td>
<td valign="middle" align="left">
  <%= @property.description %>

</td>
</tr>




<tr>
<td valign="top" align="right">  </td>
<td valign="top" align="left"></td>
</tr>
<tr>
<td valign="top" align="right"> </td>
<td valign="top" align="left"> </td>
</tr>
</tbody>
</table>
</div>
