<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>

</head>

<body>

                  <div height="20px" style="background-color:#e6e6e6;"><b><%= link_to 'Homes', :controller=>"properties", :action=>"home"%> | <%= link_to 'New', :controller=>"properties", :action=>"new_property"%></b></div>

                  <div id="notification" ><%= flash[:notice] %></div>
                  <br/>
                  <div>
                		<%= yield %>

</div>
                    
                        
                

</body>
</html>